{% extends 'base.html' %}
{% load static %}
{% block title %} Profile {% endblock title %}
{% block heading %} Profile {% endblock heading %}

{% block content %}
<h2>Profile</h2>

<form action="{% url 'accounts:logout' %}" method="post" class="inline">
    {% csrf_token %}
    <button onclick="return confirm('Are you sure you want to logout?') " type="submit"
    class="flex items-center cursor-pointer px-4 py-2 text-sm hover:text-red-700  text-gray-600  transition-colors group ">
    Logout
    <!-- logout svg -->
    <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 ml-3 group-hover:font-semibold" fill="none" stroke="currentColor"
        stroke-width="2" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
        <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4" />
        <polyline points="16 17 21 12 16 7" />
        <line x1="21" y1="12" x2="9" y2="12" />
    </svg>
    
</button>
</form>

  {% endblock content %}